Django==2.2.7
gcloud==0.17.0
googleapis-common-protos==1.6.0
gspread==3.1.0
httplib2==0.14.0
jws==0.1.3
lxml==4.4.2
numpy==1.17.4
oauth2client==3.0.0
pandas==0.25.3
Pillow==6.2.1
protobuf==3.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycryptodome==3.4.3
PyPDF2==1.26.0
Pyrebase==3.0.27
python-barcode==0.10.0
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2019.3
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
six==1.13.0
sqlparse==0.3.0
usps-api==0.3
Wand==0.5.7
xmltodict==0.12.0
usps-api
pandas
numpy
opencv-python
eth-account