{% extends "v1/base.html" %}
{% load static %}
{% block navbar_left %}
{% endblock %}
{% block navbar_right %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <!--begin::Card body-->
        <div class="card-body px-10 px-lg-20 pt-17 pb-10">
            <!--begin::Table container-->
            <div class="card highlight mb-4 fs-4" style="border-color: #c4c4f4;">
                <div >
                    <b style="color:#1b84ff;">USPS Ground Advantage (up to 15.99 oz): $2.5 </b><br />
                    <p style="font-size: 13px;">For heavier
                        packages, consider our Priority Mail rates, which offer both value and expedited delivery.
                    </p>
                </div>
            </div>
            <br><br>
            <h1 class="font-weight:800 mb-5" style="color:#3636b3;"> USPS Priority Mail Rates</h3>
            <div class="">
                <!--begin::Table-->
                <table class="table align-middle table-hover table-striped gy-7">
                    <!--begin::Table head-->
                    <thead class="align-middle">
                        
                    </thead>
                    <!--end::Table head-->

                    <!--begin::Table body-->
                    <tbody>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">1 to 7 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $5.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">7 to 10 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $6.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">10 to 15 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $8.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">15 to 20 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $10.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">20 to 30 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $15.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">30 to 35 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $20.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">35 to 40 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $25.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">40 to 50 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $28.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">50 to 60 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $32.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="card-rounded-start">
                                <div class="fw-bold d-flex align-items-center ps-9 fs-3" style="color:#1b84ff;">60 to 70 lbs</div>
                            </th>

                            <td class="card-rounded-end">
                                <div class="flex-root d-flex justify-content-center">
                                    <span class="h-40px w-40px d-flex flex-center d-block fw-bold  fs-2">
                                        $43.00
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!--end::Table body-->
                </table>
                <br><br>
                <div class="">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class=" bg-primary card-rounded py-12 mb-15">
                                <div class="text-white fs-3 fw-bold mb-7">International Shipping </div>

                                <div class="text-white fw-bold mb-7">(coming soon)</div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center">
                            <div class="min-w-200px bg-primary card-rounded py-12 mb-15">
                                <div class="text-white fs-3 fw-bold mb-7">UPS</div>

                                <div class="text-white fw-bold mb-7">(coming soon)</div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center">
                            <div class="min-w-200px bg-primary card-rounded py-12 mb-15">
                                <div class="text-white fs-3 fw-bold mb-7">FedEx</div>

                                <div class="text-white fw-bold mb-7">(coming soon)</div>
                            </div>
                        </div>
                    </tr>
                </table>
                <div class="alert alert-primary" role="alert">
                    <strong id="success-msg">Note: Maximum dimensions for all our labels are 13,000 cubic inches, For example: Length: 36", Width: 24", Height: 14".</strong>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--end::Card body-->
    </div>
</div>
<!-- Bootstrap JS and jQuery (optional, but included for completeness) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
