{% extends "v1/base.html" %} {% load static %} {% block content %}
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <!--begin::FAQ card-->
    <div class="card">
      <!--begin::Body-->
      <div class="card-body p-lg-15">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-lg-row">
          <!--begin::Content-->
          <div class="flex-lg-row-fluid">
            <!--begin::Extended content-->
            <div class="mb-13">
              <!--begin::Content-->

              <!--end::Content-->

              <!--begin::Item-->
              <div class="mb-15">
                <!--begin::Title-->
                <!--end::Title-->

                <!--begin::Accordion-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_1"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      SERVICE PRICING
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_1" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      offers multiple types of service. All shipping labels
                      prices are final and non-negotiable.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_2"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      ACCOUNT CANCELLATION/TERMINATION
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_2" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      {{ domain_name }} reserves the right to cancel your
                      account for lack of use, lack of payment, or breach of
                      these Terms. As a general matter, all {{ domain_name }}
                      user accounts are maintained perpetually unless and until
                      cancelled by the user. Following any account cancelation,
                      {{ domain_name }} may maintain certain account settings
                      and information for a period of time in the event of
                      account re-activation. The period of time {{ domain_name }} 
                      maintains account information shall be in the sole
                      discretion of {{ domain_name }}.<br />
                      Accounts are automatically renewed for the same time
                      period you originally signed up for, unless otherwise
                      cancelled.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_3"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      FREE TRIAL OFFER TERMS
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_3" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      {{ domain_name }} free trial comes with a credit to use to
                      create labels to test. There is a limit of ONE account per
                      user. If this term was violated the user’s account(s) will
                      be terminated.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_4"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      VOIDING SHIPPING LABELS
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_4" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      All shipping labels created on {{ domain_name }} are
                      final. The user must make sure that all data is correct
                      before purchasing the shipping labels. {{ domain_name }}
                      doesn’t validate the data submitted by the user. The USER
                      has the FULL responsibility to check on the data he is
                      submitting.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_5"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      CONTENT COPYRIGHT
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_5" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      You acknowledge that <br />(i) content on the Site and
                      content available through the Services is protected by
                      copyrights, trademarks and other intellectual and
                      proprietary rights (“Rights”).<br />
                      (ii) these Rights are valid and protected in all media and
                      technologies existing now or later developed.<br />(iii)
                      except as explicitly provided otherwise, the Terms and
                      applicable copyright, trademark and other laws govern your
                      use of such content. Any other use, including but not
                      limited to the reverse engineering, decompiling, altering,
                      modifying or disassembling of our source code or the
                      reproduction, modification, distribution, transmission,
                      republication, display, or performance, of the content on
                      this Site is strictly prohibited.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_6"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      USE OF SITE
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_6" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      This Site, any portion of this Site, and any materials
                      made available by {{ domain_name }} through the Site, may
                      not be reproduced, duplicated, copied, sold, resold, or
                      otherwise exploited for any commercial purpose that is not
                      expressly permitted by {{ domain_name }}. {{ domain_name }}
                      reserves the right to refuse service, terminate
                      accounts, and/or cancel orders in its discretion,
                      including, without limitation, if {{ domain_name }}
                      believes that a user’s conduct violates applicable law or
                      is harmful to the interests of {{ domain_name }}. Any use
                      of content or descriptions, any derivative use of this
                      Site or its contents, and any use of data mining, robots,
                      or similar data gathering and extraction tools are
                      strictly prohibited. In no event shall the user frame any
                      portion of the Site or any content contained therein. By
                      using this Site, you agree that you will comply with all
                      applicable laws and regulations, including U.S. export and
                      re-export control laws and regulations.<br />
                      Unless your access is revoked by us in writing, we grant
                      you a non-exclusive license to access and use the Site in
                      the ordinary course of browsing the Site and ordering our
                      Services (including any reasonable incidental printing of
                      information that occurs as part of that use) and in
                      accordance with these Terms.<br />
                      The Site is provided to you on an "as is", "as available"
                      basis, without any express or implied warranty by us. We
                      cannot and do not warrant or represent that:
                      <br />
                      1. violate any law, statute, ordinance or regulation
                      relate to sales of <br />(a) narcotics, steroids, certain
                      controlled substances or other products that present a
                      risk to consumer safety. <br />(b) drug paraphernalia.
                      <br />(c) items that encourage, promote, facilitate or
                      instruct others to engage in illegal activity. <br />(d)
                      items that promote hate, violence, racial intolerance, or
                      the financial exploitation of a crime. <br />(e) items
                      that are considered obscene. <br />(f) items that infringe
                      or violate any copyright, trademark, right of publicity or
                      privacy or any other proprietary right under the laws of
                      any jurisdiction. <br />(g) certain sexually oriented
                      materials or services, or ammunition, firearms, or certain
                      firearm parts or accessories, or certain weapons or knives
                      regulated under applicable law. <br /><br />
                      2. relate to transactions that: <br />(a) show the
                      personal information of third parties in violation of
                      applicable law. <br />(b) support pyramid or ponzi
                      schemes, matrix programs, other “get rich quick” schemes
                      or certain multi-level marketing programs. <br />(c) are
                      associated with purchases of real property, annuities or
                      lottery contracts, lay-away systems, off-shore banking or
                      transactions to finance or refinance debts funded by a
                      credit card. <br />(d) are for the sale of certain items
                      before the seller has control or possession of the item.
                      <br />(e) are by payment processors to collect payments on
                      behalf of merchants. <br />(f) are associated with the
                      following Money Service Business activities: the sale of
                      traveler’s checks or money orders, currency exchanges or
                      check cashing, or provide certain credit repair or debt
                      settlement services. <br /><br />
                      3. involve the sales of products or services identified by
                      government agencies to have a high likelihood of being
                      fraudulent.
                      <br /><br />
                      4. violate applicable laws or industry regulations
                      regarding the sale of <br />(a) tobacco products <br />(b)
                      prescription drugs and devices. <br /><br />
                      5. involve gambling, gaming and/or any other activity with
                      an entry fee and a prize, but not limited to casino games,
                      sports betting, horse or greyhound racing, lottery
                      tickets, other ventures that facilitate gambling, games of
                      skill (whether or not it is legally defined as a lottery)
                      and sweepstakes unless the operator has obtained prior
                      approval and the operator and its customers are located
                      exclusively in jurisdictions where such activities are
                      permitted by law.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_7"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      DISCLAIMER
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_7" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      HIS SITE, SERVICES, AND SOFTWARE ARE PROVIDED BY
                      {{ domain_name }} ON AN “AS IS” BASIS. {{ domain_name }}
                      MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND,
                      EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE OR
                      SOFTWARE, OR THE INFORMATION, CONTENT, MATERIALS, OR
                      PRODUCTS INCLUDED ON THIS SITE AND THE SOFTWARE. TO THE
                      FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, 
                      {{ domain_name }} DISCLAIMS ALL WARRANTIES, EXPRESS OR
                      IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES
                      OF INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A
                      PARTICULAR PURPOSE. {{ domain_name }} WILL NOT BE LIABLE
                      FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS
                      SITE, THE SERVICES, OR THE SOFTWARE, INCLUDING, BUT NOT
                      LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND
                      CONSEQUENTIAL DAMAGES. {{ domain_name }} DOES NOT PROMISE
                      OR GUARANTY UNINTERRUPTED OR ERROR-FREE SERVICE.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_8"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      NO UNLAWFUL OR PROHIBITED USE
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_8" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      As a condition of your use of this Site, you warrant to
                      {{ domain_name }} that you will not use the Site for any
                      purpose that is unlawful or prohibited by these Terms, or
                      the laws and regulations of the jurisdiction in which you
                      are located or to which your envelope or parcel was sent.
                      You may not use the Site in any manner that could damage,
                      disable, overburden, or impair the Site. You may not
                      obtain or attempt to obtain any materials or information
                      through any means not intentionally made available or
                      provided through the Site. {{ domain_name }} reserves the
                      right at all times to disclose any information as
                      necessary to satisfy any applicable law, regulation, legal
                      process or governmental request, or to edit, refuse to
                      post or to remove any information or materials, in whole
                      or in part, at {{ domain_name }}’s sole discretion.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_9"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      U.S. GOVERNMENT USERS RESTRICTED RIGHTS
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_9" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      Use, duplication, or disclosure by the Government is
                      subject to restrictions as set forth in applicable laws
                      and regulations. Use of the Site, Services and/or Software
                      by the Government constitutes acknowledgment of {{ domain_name }}’s
                      proprietary rights in them. The Site and
                      Software may contain other proprietary notices and
                      copyright information which should be observed.
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="m-0">
                  <!--begin::Heading-->
                  <div
                    class="d-flex align-items-center collapsible py-3 toggle mb-0 active"
                    data-bs-toggle="collapse"
                    data-bs-target="#kt_job_8_10"
                    aria-expanded="false"
                  >
                    <!--begin::Icon-->
                    <div
                      class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5"
                    >
                      <i
                        class="ki-outline ki-minus-square toggle-on text-primary fs-1"
                      ></i>
                      <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                    </div>
                    <!--end::Icon-->

                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">
                      PROHIBITED ACTIVITIES
                    </h4>
                    <!--end::Title-->
                  </div>
                  <!--end::Heading-->

                  <!--begin::Body-->
                  <div id="kt_job_8_10" class="fs-6 ms-1 collapse show" style="">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                      You shall not transmit to {{ domain_name }} or upload to
                      this Site or the Software any Harmful Code or use or
                      misappropriate the data on this Site for your own
                      commercial gain. “Harmful Code” shall mean any software
                      (sometimes referred to as “viruses,” “worms,” “trojan
                      horses,” “time bombs,” “time locks,” “drop dead devices,”
                      “traps,” “access codes,” “cancelbots” or “trap door
                      devices”) that:
                      <br />(a) is intentionally designed to damage, disrupt,
                      disable, harm, impair, interfere with, intercept,
                      expropriate or otherwise impede in any manner, any data,
                      storage media, program, system, equipment or
                      communication, based on any event, including for example
                      but not limited to <br />
                      (i) exceeding a number of copies<br />
                      (ii) exceeding a number of users<br />
                      (iii) passage of a period of time<br />
                      (iv) advancement to a particular date or other numeral<br />
                      (v) use of a certain feature<br />(b) would enable an
                      unauthorized person to cause such result.<br />(c) would
                      enable an unauthorized person to access another person’s
                      information without such other person’s knowledge and
                      permission.<br />
                      You may not use your password for any unauthorized
                      purpose. You may not use the Site, Services, or Software
                      for activities that:
                    </div>
                    <!--end::Text-->
                  </div>
                  <!--end::Content-->

                  <!--begin::Separator-->
                  <div class="separator separator-dashed"></div>
                  <!--end::Separator-->
                </div>
                <!--end::Section-->
                <!--end::Accordion-->
              </div>
              <!--end::Item-->
            </div>
            <!--end::Extended content-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Layout-->

      </div>
      <!--end::Body-->
    </div>
    <!--end::FAQ card-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
{% endblock %}
